.ui.navbar {
  margin-bottom: 12px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.ui.menu.navbar_item {
  border-radius: 0;
  background: linear-gradient(90deg, rgb(139, 135, 216) 0%, rgb(94, 198, 226) 44%, rgba(0,212,255,1) 100%) !important;
}
